{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ form.instance.pk|yesno:"Edit Part,Add New Part" }} - UAV Rental Project{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<h2>{{ form.instance.pk|yesno:"Edit Part,Add New Part" }}</h2>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Save</button>
    <a href="{% url 'part_list' %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}